@charset "UTF-8";

* {
    background-color: #DDD7CB;
    color: #474C50;
    padding: 0;
    margin: 0;
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
}

img {
    border: 3px solid #474C50;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

h1 {
    font-size: 80px;
    margin-left: 30px;
    text-shadow: 1px 2px 3px #808080;
    letter-spacing: 0.5em;
    font-family:  "DIN Condensed";
}

nav ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.5em;
}

nav a {
    text-decoration: none;
    font-family:  "DIN Condensed";
}

nav li:hover {
    transform: scale(1.3,1.3);
    transition: 1s;
}

nav ul li {
    margin: 20px 50px;
    font-size: 30px;
}

article {
    background-image: url(image/ocean.avif);
    min-height: 100vh;
    background-size: cover;
    margin: 0px 50px;
    position: relative;
    border: 6px solid #474C50;
}

h2 {
    line-height: 800px;
    height: 800px;
    align-content: center;
    text-align: center;
    background: none;
    text-shadow: 1px 2px 3px #808080;
}

.txt {
    display: flex;
    position: absolute;
    background: none;
    height: 500px;
    line-height: 50px;
    margin-left: 200px;
    padding: 0px;
}

.txt2 {
    display: flex;
    position: absolute;
    background: none;
    margin-left: 220px;
    margin-top: 80px;
}

.txt p {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: .5em;
    margin: 0;
    /* ここからアニメーション関係 */
    opacity: 0;
    animation: textanimation 1s forwards;
    background: none; 
}

.txt2 p {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: .5em;
    margin: 0;
    /* ここからアニメーション関係 */
    opacity: 0;
    animation: textanimation 2s forwards;
    background: none;
}

/* 1文字目 */
.txt p:nth-child(1) {
    animation-delay: 0.2s
}
/* 2文字目 */
.txt p:nth-child(2) {
    animation-delay: 0.4s
}
/* 3文字目 */
.txt p:nth-child(3) {
    animation-delay: 0.6s
}
/* 4文字目 */
.txt p:nth-child(4) {
    animation-delay: 0.8s
}
/* 5文字目 */
.txt p:nth-child(5) {
    animation-delay: 1s
}
/* 6文字目 */
.txt p:nth-child(6) {
    animation-delay: 1.2s
}
/* 7文字目 */
.txt p:nth-child(7) {
    animation-delay: 1.4s
}
/* 8文字目 */
.txt p:nth-child(8) {
    animation-delay: 1.6s
}
/* 9文字目 */
.txt p:nth-child(9) {
    animation-delay: 1.8s
}
/* 10文字目 */
.txt p:nth-child(10) {
    animation-delay: 2s
}
/* 11文字目 */
.txt p:nth-child(11) {
    animation-delay: 2.2s
}

/* 12文字目 */
.txt2 p:nth-child(1) {
    animation-delay: 2.4s
}
/* 13文字目 */
.txt2 p:nth-child(2) {
    animation-delay: 2.6s
}
/* 14文字目 */
.txt2 p:nth-child(3) {
    animation-delay: 2.8s
}
/* 15文字目 */
.txt2 p:nth-child(4) {
    animation-delay: 3.0s
}
/* 16文字目 */
.txt2 p:nth-child(5) {
    animation-delay: 3.2s
}
/* 17文字目 */
.txt2 p:nth-child(6) {
    animation-delay: 3.4s
}
/* 18文字目 */
.txt2 p:nth-child(7) {
    animation-delay: 3.6s
}

/* 19文字目 */
.txt2 p:nth-child(8) {
    animation-delay: 3.8s
}
/* 20文字目 */
.txt2 p:nth-child(9) {
    animation-delay: 4.0s
}
/* 21文字目 */
.txt2 p:nth-child(10) {
    animation-delay: 4.2s
}
/* 22文字目 */
.txt2 p:nth-child(11) {
    animation-delay: 4.4s
}




@keyframes textanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.border {
    border-top: 7px solid #fa8072;
    margin-top: 50px;
}

h3 {
    text-align: center;
    margin: 70px 0px;
    padding-top: 30px;
    font-size: 40px;
    letter-spacing: 5px;   
    letter-spacing: 0.5em;
    font-family:  "DIN Condensed";
}

.about {
    display: flex;
    margin: 50px;
}

.about p {
    font-size: 20px;
    padding: 30px 50px;
    height: 200px;
    line-height: 50px;
}

.about img {
    width: 35%;
    margin-left: 50px;
}

.menulist {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

.menulist img {
    width: 250px;
    height: 250px;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.box dt {
    font-size: 30px;
    margin: 10px 30px;
}

.box dd {
    font-size: 20px;
    margin-left: 40px;
}

.morning {
    display: flex;
    justify-content: center;
}

.morning img {
    width: 600px;
    margin: 0px 100px;
}

.mornings {
    margin-right: 300px;
    font-size: 30px;
}

.morning p {
    margin: 40px 80px 0px 0px;
}

.mornings ul {
    margin: 60px 0px 0px 50px;
    font-size: 20px;
}

.teatime {
    display: flex;
    justify-content: center;
}

.teatime img {
    width: 600px;
    margin-left: 100px;
}

.teas {
    font-size: 30px;
    margin: 50px 100px 0px 200px;
}

iframe {
    width: 100%;
    height: 800px;
}

.map {
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    border: 6px solid #474C50;
}

.eno {
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin: 50px 0px 50px 100px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    padding-top: 25px;
    border-top: 5px dashed #fa8072;
}


